<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bendezu.yandexphotos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_photos"
        android:roundIcon="@mipmap/ic_photos_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".authorization.AuthActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="token"
                    android:scheme="yandexphotos" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gallery.GalleryActivity"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:parentActivityName=".gallery.GalleryActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gallery.GalleryActivity"/>
        </activity>

        <provider
            android:name=".data.GalleryProvider"
            android:authorities="com.bendezu.yandexphotos"
            android:exported="false" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.bendezu.yandexphotos.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>